@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    text-align: center;
    font-family: sans-serif;
}
.form1{
    width: 30%;
    position: absolute;
    top:30%;
    left:40%;
    margin-bottom:20px;
    box-shadow: 2px 2px 2px 2px;
    justify-content: space-around;
}
.textbox{
    width:100%;
    overflow:hidden;
    margin:10px 0;
    font-size: 20px;
}

.btn{
    margin: 8px 0;
}