<!DOCTYPE html>
<head>
    <title>navigation bar</title>
    <script src='https://kit.fontawesome.com/b99e675b6e.js'></script>
    <link rel="stylesheet" type="text/css" href="sidebar.css">
</head>
<body>
    <div class='wrapper'>
        <div class='sidebar1'>
            <ul>
                <li><a href="/admin"><i class="fas fa-user"></i>Admin</a></li>
                <li><a href='/responses'><i class="fas fa-address-card"></i>Responses</a></li>
            </ul>
        </div>
    </div>
</body>
</html>